
@{
    ViewBag.Title = "InfoProduto";
}

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-4">
                    <label for="Nome">Item</label>
                    <input class="form-control" id="Item" type="text" placeholder="Nome" value="@ViewBag.Estoque.Item" readonly>
                </div>
                <div class="col-md-4">
                    <label for="Sobrenome">Quantidade</label>
                    <input class="form-control" id="QuantidadeEstoque" type="text" placeholder="Quantidade" value="@ViewBag.Estoque.QuantidadeEstoque" readonly>
                </div>

                <div class="col-md-4">
                    <label for="Unidade">Unidade</label>
                    <input class="form-control" id="Unidade" type="text" placeholder="unidade" value="@ViewBag.Estoque.Unidade" readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-4">
                    <label for="codigoean">EAN:</label>
                    <input class="form-control" id="codigoean" type="text" placeholder="EAN" value="@ViewBag.Estoque.codigoean" readonly>
                </div>
                <div class="col-md-4">
                    <label for="Departamento">Departamento</label>
                    <input class="form-control" id="Departamento" type="text" placeholder="Departamento" value="@ViewBag.Estoque.Departamento.NomeDepartamento" readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-4">
                    @Html.ActionLink("Voltar", "Voltar", "Home", new { returnUrl = this.Request.UrlReferrer }, new { @class = "btn btn-success btn-block" })
                </div>
            </div>
        </div>
