
@{
    ViewBag.Title = "Tipificação";
}

<h2>Gerenciar serviços de atendimento</h2>

<div class="form-group">
    <div class="form-row">
        <div class="col-md-10">
            <form action="~/Home/Servicos" method="post">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <input class="form-control" name="strBusca" type="text" placeholder="Pesquisar..." aria-label="Pesquisar">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit"><i class="fa fa-search"></i>Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
        <form>
            <div class="col-md-2">
                @Html.ActionLink("Cadastrar Serviço", "AdicionarServico", null, new { @class = "btn icon-btn btn-primary" })
            </div>
        </form>
    </div>
</div>
<div class="table-responsive">

    <table class="table table-bordred table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Departamento</th>
                <th>Serviço</th>
                <th>Prioridade</th>
                <th>Tempo Atendimento</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @if (ViewBag.Servicos != null)
        {
            <tbody>
                @foreach (var item in ViewBag.Servicos)
                {
                <tr>
                    <td>@item.Departamento.NomeDepartamento</td>
                    <td>@item.NomeServico</td>
                    <td>@item.Prioridade.DescricaoPrioridade</td>
                    <td>@item.Prioridade.TempoAtendimento</td>
                    <td>@item.Status</td>

                    @*Ações*@
                    <td>@Html.ActionLink("Desativar", "DesativarServico", new { id = item.Id, StrAcao = "Desativar" }, new { @class = "btn btn-warning" })</td>
                    <td>@Html.ActionLink("Visualizar", "InfoServico", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
                </tr>
                }
            </tbody>
        }

    </table>
</div>